[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "===6.0.0"
black = "*"

[dev-packages]


[requires]
python_version = "3.11"
python_full_version = "3.11.1"
