./packages/mlopspython_extraction-0.0.0-py3-none-any.whl
./packages/mlopspython_inference-0.0.0-py3-none-any.whl
keras==2.12.0
tensorflow==2.12.0
fastapi==0.95.0
uvicorn
python-multipart
pydantic
pillow
opencv-contrib-python-headless==4.8.0.76
