version: '4.12'

services:
  api:
    build:
      context: ./api
      dockerfile: ./Dockerfile
    image: local.io/api-catsdogsothers:local
    restart: "no"
    user: "1001001"
    ports:
      - 8000:5000
  web:
    build:
      context: ./webapp
      dockerfile: ./Dockerfile
    image: local.io/webapp-catsdogsothers:local
    restart: "no"
    #user: "1001001"
    ports:
      - 4000:80
