[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-ai-ml = "==1.10.1"
mldesigner = "==0.1.0b15"
"azure.identity" = "==1.14.0"

[dev-packages]

[requires]
python_version = "3.11"
