[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-ai-ml = "*"
"azure.identity" = "*"
mldesigner = "*"
matplotlib = "*"
keras = "*"
numpy = "*"
tensorflow = "*"
scipy = "*"
opencv-contrib-python-headless = "==4.7.0.68"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
