[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-ai-ml = "==1.4.0"
mldesigner = "==0.1.0b11"
"azure.identity" = "==1.12.0"

[dev-packages]

[requires]
python_version = "3.11"
